body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width: 80%;
}

.img {
    width: 50px;
    height: auto;
    padding-left: 4px;
    border: solid 0px #42515f;
}

.add-text {
    font: normal normal bold 20px/25px Monteserrat;
    font-family: "Monteserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.add-book{
    color: black;
}

*{
    box-sizing: border-box;
}
/* uc-2 */
.form-content{
    min-height: calc(100% - 60px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.content{
    width: 50%;
    padding: 15px 60px;
    background: #008CFF;
    border-radius: 5px;
    align-items: center;
}

.box{
    text-align: center;
    font: normal normal normal 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: x-large;
    font: optional;
}
.content-image{
    align-content: end;
    margin-top: -5%;
    padding-left: 100%;
    align-self:last baseline;
    
}
/* uc-3*/
.add-book {
    min-height: calc(100% - 60px);
    margin-left: 30px;
    min-width: 80%;
    min-height: 80%;
    max-width: 100%;
    margin-bottom: 10px;
}
.row-content {
    margin-left: 230px;
    min-width: 62%;
    min-height: 80%;
    max-width: 60%;
    margin-bottom: 10px;
}

.form-constrains {
    margin: 2% 10%;
    display: flex;
    flex-flow: column wrap;
}

label {
    padding: 12px 12px 12px 0; 
    display: inline-block;
    margin-top: 20px;
}

.text {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    opacity: 1;
    resize: horizontal;
    padding: 16px 12px;
}

textarea {
    height: 80%;
    width: 100%;
    resize: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    letter-spacing: -1px;
    opacity: 1;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-top: 10px;
}

.column-constrains {
    display: flex;
    flex-flow: row wrap;
    padding-top: 19px;
}

.column-content {
    flex: 2;
}

select {
    padding: 12px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 80%;
}

.zipcode {
    padding: 15px 12px;
}

